@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;

    /* Scrollbar */
    --scroll-size: 5px;
    --scroll-radius: 5px;
    --scroll-track: rgb(255 255 255 / 10%);
    --scroll-thumb-color: #f00;
  }

  .dark {
    --background: 0 0% 2%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 111 100% 50%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 64 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;

    /* Scrollbar */
    --scroll-thumb-color: #ff0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .anim {
    @apply transition-all duration-300 ease-in-out;
  }

  .animate-blink {
    animation: blink 0.5s infinite;
  }

  .text-neon-green {
    text-shadow: 0 0 1px rgba(0, 255, 0, 0.2), 0 0 2px rgba(0, 255, 0, 0.2),
      0 0 1px rgba(0, 255, 0, 0.2), 0 0 5px rgba(0, 255, 0, 0.2),
      0 0 2px rgba(0, 255, 0, 0.2), 0 0 2px rgba(0, 255, 0, 0.2),
      0 0 2px rgba(0, 255, 0, 0.2), 0 0 1px rgba(0, 255, 0, 0.2);
    color: #26ff00;
  }

  .text-neon-yellow {
    text-shadow: 0 0 1px rgba(255, 255, 0, 0.2), 0 0 2px rgba(255, 255, 0, 0.2),
      0 0 1px rgba(255, 255, 0, 0.2), 0 0 5px rgba(255, 255, 0, 0.2),
      0 0 2px rgba(255, 255, 0, 0.2), 0 0 2px rgba(255, 255, 0, 0.2),
      0 0 2px rgba(255, 255, 0, 0.2), 0 0 1px rgba(255, 255, 0, 0.2);
    color: yellow;
  }

  .text-neon-white {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.2),
      0 0 2px rgba(255, 255, 255, 0.2), 0 0 1px rgba(255, 255, 255, 0.2),
      0 0 5px rgba(255, 255, 255, 0.2), 0 0 2px rgba(255, 255, 255, 0.2),
      0 0 2px rgba(255, 255, 255, 0.2), 0 0 2px rgba(255, 255, 255, 0.2),
      0 0 1px rgba(255, 255, 255, 0.2);
    color: #ffffff;
  }

  .text-neon-orange {
    text-shadow: 0 0 1px rgba(255, 165, 0, 0.2), 0 0 2px rgba(255, 165, 0, 0.2),
      0 0 1px rgba(255, 165, 0, 0.2), 0 0 5px rgba(255, 165, 0, 0.2),
      0 0 2px rgba(255, 165, 0, 0.2), 0 0 2px rgba(255, 165, 0, 0.2),
      0 0 2px rgba(255, 165, 0, 0.2), 0 0 1px rgba(255, 165, 0, 0.2);
    color: orange;
  }

  .text-neon-purple {
    text-shadow: 0 0 1px rgba(128, 0, 128, 0.2), 0 0 2px rgba(128, 0, 128, 0.2),
      0 0 1px rgba(128, 0, 128, 0.2), 0 0 5px rgba(128, 0, 128, 0.2),
      0 0 2px rgba(128, 0, 128, 0.2), 0 0 2px rgba(128, 0, 128, 0.2),
      0 0 2px rgba(128, 0, 128, 0.2), 0 0 1px rgba(128, 0, 128, 0.2);
    color: purple;
  }

  .text-neon-red {
    text-shadow: 0 0 1px rgba(255, 0, 0, 0.2), 0 0 2px rgba(255, 0, 0, 0.2),
      0 0 1px rgba(255, 0, 0, 0.2), 0 0 5px rgba(255, 0, 0, 0.2),
      0 0 2px rgba(255, 0, 0, 0.2), 0 0 2px rgba(255, 0, 0, 0.2),
      0 0 2px rgba(255, 0, 0, 0.2), 0 0 1px rgba(255, 0, 0, 0.2);
    color: red;
  }

  .text-neon-cyan {
    text-shadow: 0 0 1px rgba(0, 255, 255, 0.2), 0 0 2px rgba(0, 255, 255, 0.2),
      0 0 1px rgba(0, 255, 255, 0.2), 0 0 5px rgba(0, 255, 255, 0.2),
      0 0 2px rgba(0, 255, 255, 0.2), 0 0 2px rgba(0, 255, 255, 0.2),
      0 0 2px rgba(0, 255, 255, 0.2), 0 0 1px rgba(0, 255, 255, 0.2);
    color: cyan;
  }

  .text-neon-black {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2),
      0 0 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2),
      0 0 2px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2),
      0 0 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
    color: black;
  }

  .email:hover {
    background: coral;
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: var(--scroll-size, 5px);
  height: var(--scroll-size, 5px);
}
body::-webkit-scrollbar-track {
  background-color: var(--scroll-track, transparent);
  border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, grey);
  background-image: var(--scroll-thumb, none);
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
